/* Google font - Work sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ===================================
Common Shareable Styles 
====================================*/
body {
  font-family: "Work Sans", sans-serif;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding: 2rem 0;
}
.btn_primary {
  background: linear-gradient(180deg, #38f768, #545ef3);
  padding: 0.85rem 1.5rem;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  border-radius: 2px;
  transition: background all 0.3s ease;
}
.btn_primary:hover {
  background: linear-gradient(45deg, #67fa8c, #545ef3);
  color: #000;
}
/* Custom Scrollbar - Just for sense */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background: linear-gradient(180deg, #456, #a3f);
}
/* ===================================================================
Header
======================================================================*/
header {
  background: linear-gradient(200deg, #efffde, #eeff70d9);
}
.nav_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 1rem;
}
.nav_area .nav_logo {
  color: #131313;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
}
.nav_area > ul {
  display: flex;
  gap: 1.2rem;
}
.nav_area > ul li {
  list-style: none;
}
.nav_area > ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 26px;
}
/* header Banner */
.banner_area {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  height: auto;
  padding-bottom: 1rem;
}
.banner_area .banner_title {
  color: #131313;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  order: 2;
}
.banner_area .text {
  color: #727272;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.2rem;
  order: 3;
}
.banner_area .btn {
  border-radius: 8px;
  background: #ff900e;
  width: 9rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  padding: 10px 16px;
  text-decoration: none;
  transition: all 0.5s ease;
  order: 4;
}
.banner_area .btn:hover {
  background: linear-gradient(45deg, #88ffe5, #f5f585);
  color: #131313;
}
.banner_area .banner_image {
  order: 1;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
/* Header Responsive for small devices */
@media only screen and (min-width: 576px) {
  .nav_area > ul {
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #47e33d, #00bcd4);
    width: 100%;
  }
  .banner_area {
    align-items: center;
  }
  .banner_area .banner_title {
    margin-top: 1rem;
  }
  .banner_area .banner_image {
    order: 4;
    margin: 0;
  }
  .banner_area .text {
    max-width: 30rem;
    text-align: center;
  }
}

/* Header Responsive for tablet devices  */
@media only screen and (min-width: 768px) {
  .nav_area {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav_area > ul {
    width: auto;
    background: transparent;
  }
}

/* Header Responsive for laptops and desktop */
@media only screen and (min-width: 992px) {
  .banner_area .banner_title {
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
  }
  .banner_title span {
    display: block;
  }
}

/* ===================================================================
Our Features Section
======================================================================*/
main {
  background: #fffeef;
  margin-bottom: 2rem;
}
.our_features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* background: radial-gradient(#65eb65cc, #f86a6aed); */
  height: auto;
}
.features_photos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.features_photos img {
  max-width: 18rem;
  width: 100%;
  transition: all 0.3s ease;
}
.features_photos img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.features_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.features_content h2 {
  color: #657bfd;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* margin-bottom: 0.85rem; */
}
.features_content .text {
  color: #727272;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  width: 80%;
  text-align: center;
}

/* Responsive Our Features for tablet devices */
@media only screen and (min-width: 576px) {
  .features_photos {
    grid-template-columns: repeat(2, 1fr);
  }
  .our_features {
    gap: 2rem;
  }
  .features_content h2 {
    font-size: 1.8rem;
  }
}

/* Responsive Our features for laptop and desktop devices */
@media only screen and (min-width: 992px) {
  section {
    padding-top: 5rem;
  }
  .our_features {
    flex-direction: row;
    gap: 3rem;
  }
  .features_photos {
    max-width: 58%;
  }
  .features_content {
    align-items: flex-start;
    max-width: 42%;
  }
  .features_content .text {
    text-align: left;
  }
}

/* ===================================================================
Experience Section
======================================================================*/
.experience_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* background-color: #00bcd4; */
}
.experience_content {
  order: 2;
}
.experience_content h2 {
  color: #131313;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-left: 3px solid #f84a15;
  padding-left: 0.85rem;
  margin-bottom: 1rem;
}
.experience_content .text {
  color: #383737;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.experience_image {
  max-width: 400px;
  width: 100%;
  height: auto;
  text-align: center;
}
.experience_image img {
  width: 80%;
  height: 100%;
}
/* 10+ years badge */
.badge {
  background: linear-gradient(45deg, #999, #127);
  color: #fff;
  width: max-content;
  padding: 12px 24px;
  border-radius: 8px;
  position: relative;
  top: -50px;
}
.badge h5 {
  font-size: 1.2rem;
  font-weight: 700;
}
.badge span {
  font-size: 1rem;
}
/* Experience Content Box */
.content_box {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  margin-bottom: 1rem;
}
.content_box h4 {
  color: #131313;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.85rem;
}
.content_box .box_text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}

/* Responsive Experience Area for tablet devices */
@media only screen and (min-width: 576px) {
  .experience_image {
    min-width: 450px;
  }
  .experience_image img {
    width: 100%;
  }
  .badge {
    left: -30px;
  }
}
/* Responsive Experience Area for laptop and desktop devices */
@media only screen and (min-width: 900px) {
  .experience_area {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 3rem;
  }
  .experience_content h2 {
    font-size: 2.4rem;
  }
}

/* ===================================================================
Facts Section
======================================================================*/
.facts_top {
  width: auto;
}
.facts_top h3 {
  color: #131313;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.85rem;
}
.facts_top p {
  color: #727272;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
  margin-bottom: 1.7rem;
}
.facts_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.facts_item {
  border: 1px solid #00bcd4;
  padding: 1rem;
  text-align: center;
}
.facts_item img {
  max-width: 35px;
  width: 100%;
  height: auto;
}
.facts_item h5 {
  color: #383737;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.45rem 0;
}
.facts_item p {
  color: #727272;
  font-size: 1rem;
}

/* Responsive Fact area for tablet devices */
@media only screen and (min-width: 768px) {
  .facts_top {
    width: 68%;
    margin-bottom: 2.5rem;
  }
}
/* Responsive Fact area for laptop and desktop devices */
@media only screen and (min-width: 992px) {
  .facts_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
  .facts_top {
    width: 44%;
    margin-bottom: 3rem;
  }
}

/* ===================================================================
Our Sponsors Section
======================================================================*/
.sponsors_top {
  margin-bottom: 1.8rem;
}
.sponsors_top h2 {
  font-size: 1.5rem;
  color: #131313;
  margin-bottom: 0.85rem;
}
.sponsors_top .text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}
.sponsors_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}
.sponsors_logo img {
  max-width: 80px;
  width: 100%;
  mix-blend-mode: luminosity;
}

/* For and large mobile devices */
@media only screen and (min-width: 576px) {
  .sponsors_top {
    width: 75%;
  }
}

/* For tablet and laptop devices */
@media only screen and (min-width: 768px) {
  .sponsors_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }
  .sponsors_logo img {
    max-width: 112px;
  }
  .sponsors_top {
    width: auto;
    margin-bottom: 2.8rem;
    text-align: center;
  }
  .sponsors_top h2 {
    font-size: 1.8rem;
  }
  .sponsors_top .text {
    width: 44%;
    margin: 0 auto;
  }
}
/* ===================================================================
Simple Footer Section
======================================================================*/
footer {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: linear-gradient(45deg, #999, #127);
  text-align: center;
  border-radius: 4px;
}
footer > p {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.8rem;
}
.protamim {
  color: #47e33d;
  font-size: 0.8rem;
}